body {
    background-color: cadetblue;
    padding-top: 85px;
 }

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    background: darkslategray;
    /*font-weight: white;*/
}
.course-editor-header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: darkslategray;
    font-size: 20px;

}
.new-course-btn {
    border-radius: 50% !important;
    background-color: indianred;
    border: none;
}

.course-header-row {
    margin-top: 1px;
    padding: 15px;
    font-weight: bold;

}


.custom-form input[type="text"] {
    width: 240px !important;
    margin-right: 5px
}
.cross-editor{
    font-size: 30px;
    color: beige;
    padding-right: 10px;
    padding-left: 10px;
}
.new-course-btn-bottom {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 30px;
}
.course-editor-nav .nav-item .nav-link{
    color: beige !important;
}

.course-editor-nav .nav-item{
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border:1px solid rgba(0,0,0,.1);
    border-radius: 5px;
}
.click-title:hover{
    cursor: pointer;
}
.course-editor-nav .nav-item.active{
    background-color: rgba(0,0,0,.3);
}
.navbar-brand{
    color: beige !important;
}
.fa-plus {
    color: white;
}
.house-btn{
    color: beige;
}
.course-header-row {
    margin-top: 1px;
    padding: 15px;
    font-weight: bold;
}


.course-list {
    margin-bottom: 10px;
    z-index: -999999
}


.modify-day {
    color: #36465d;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.course {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-left: 1px solid darkgray;
    background: whitesmoke;
}

.course-title {
    color: #36465d;
    font-weight: normal;
}

.course-selection {
    color: #36465d;
}

.course-selection:hover {
    text-decoration: none;
    color: #36465d;
}

.course:hover {
    background-color: #6495ED;
    cursor: pointer;
}

.grid-view-link {
    color: black;
}

.course-title-list {
    display: inline-block;
}

.course-title-list:hover {
    text-decoration: none;
}

.module-list{
    background: rgba(0,0,0,.3);
    color: whitesmoke;

}


.topic-list{
    background-color: gainsboro;
    padding:30px;
}

.module-list-pill{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left:5px;
}

.module-list-pill .nav-link{
    background-color: rgba(0,0,0,.3);
    color:whitesmoke !important;
}

.click-title:hover{
    cursor: pointer;
}

.module-list-pill .nav-link.active, .topic-pill-list .nav-link.active{
    background-color:#56bc8a;
}

@media screen and (min-width: 768px) {
    .custom-form input[type="text"] {
        width: 550px !important;
    }

    .course-list-first {
        margin-top: 110px;
    }
}

@media screen and (min-width: 992px) {
    .custom-form input[type="text"] {
        width: 650px !important;
    }
}

@media screen and (min-width: 1200px) {
    .custom-form input[type="text"] {
        width: 750px !important;
    }
}